@import './globalStyles.scss';

.auth_card{
    background-color: $DeepChampagne;
    max-width: 500px;
}

.auth_title{
    color: $ArmyGreen;
    font-size: 32px;
    font-weight: 400px;
    padding-block: 10px;
}

.auth_label{
    color: $ArmyGreen;
    font-size: 16px;
}

.logo {
    height: 250px;
    width: 250px;
    padding: 10px;
}