@import './globalStyles.scss';

.auth_card{
    background-color: $Cornsilk;
}

.auth_title{
    color: $ArmyGreen;
    font-size: 32px;
    font-weight: 400px;
    padding-block: 10px;
}

.auth_label{
    color: $ArmyGreen;
    font-size: 16px;
}

.auth_button{
    background-color: $LiverDogs;
    border: $Bronze;
    color: white;

    &:hover {
        background-color: $DeepChampagne;
        border: $Bronze;
        color: $ArmyGreen;
    }

    &:active {
        background-color: $DeepChampagne;
        border: $Bronze;
        color: $ArmyGreen;
    }
}

.logo {
    height: 250px;
    width: 250px;
    padding: 10px;
}