@import './globalStyles.scss';

.home_title{
    color:$KombuGreen;
    background-color: $DeepChampagne;
    margin: auto;
    border-radius: 10px;
    max-width: 700px;
}
.account_container{
    background-color: $DarkOliveGreen;
    margin:15px;
    color:White;
    margin: auto;
    margin-top: 80px;
}

.account_card {
    max-width: 700px;
    margin: auto;
}

.account_card_body{
    background-color: $Artichoke;
    border-radius: 10px;
    max-width: 700px;
}

.account_item{
    font-size: 16px;
    text-align: start;
}

.account_balance{
    text-align: end;
}

